/* Đặt kiểu dáng chung cho toàn trang */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #343a40;
    padding: 10px 0;
    text-align: center;
}

.navbar-brand img {
    max-height: 50px;
}

.product-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-list .card {
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-list .card img {
    height: 300px;
    object-fit: cover;
}

.footer {
    background-color: #343a40;
    color: #fff;
}

.aside {
    margin-top: 30px;
}

.aside h2 {
    margin-bottom: 15px;
}

.aside p {
    font-size: 1.1rem;
}
